body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: medium;
}
p, li {
    line-height: 1.8;
}

section {
    border-top: 1px solid #e5e5e5;
    margin-top: 16px;
}
div.header + section {
    border-top: none;
    margin-top: 0;
}

h1 {
    font-family: 'Khula', sans-serif;
    font-weight: 600;
    font-size: 40px;
}

.site-title a {
    color: #333;
}

pre {
    border: none;
    background: none;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    padding: 10px;
}

code {
    color: #333;
    background: none;
    padding: 0;
}

pre code {
    font-size: 14px;
}

body.post p {
    margin: 10px 0;
}

.page-content {
    margin: 0;
}

body.index .page-content img,
img.learn-more-photo {
    float: right;
    max-width: 50%;
    height: auto;
    margin: 0px 16px 10px 16px;
    padding: 0;
}
.cover-photo {
    max-height: 350px;
}
.about-photo {
    max-height: 250px;
}
.article img {
    max-height: 250px;
}

.clear-images {
    clear: both;
}

blockquote {
    font-size: small;
}
blockquote p {
    line-height: 1.42857143;
}

#stay-in-touch {
    margin-top: 16px;
}

.footer {
    color: #999;
    background-color: #f9f9f9;
    margin-top: 16px;
    border-top: 1px solid #e5e5e5;
    padding-top: 16px;
}

.follow-or-subscribe {
    margin-top: 16px;
    border-top: 1px solid #e5e5e5;
    padding: 16px 0;
    text-align: center;
}

.promotion {
    position: sticky;
    bottom: 0;
    padding: 16px;
    background: white;
    border-top: 1px solid #e5e5e5;
}

.promotion a:nth-child(n+2) {
    margin-left: 16px;
}

@media (max-width: 360px) {
    .promotion a:nth-child(n+2) {
        display: none;
    }
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}


figure.highlight {
    margin-left: 10px;
    background: #f3f3f3;
}

code.hljs {
    padding: 0;
    background: #f3f3f3;
}

.mail img.mailhead {
    width: 100%;
}

body.post .article img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.all-posts-post {
    margin-bottom: 0.25em;
}
