body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: medium;
}
p, li {
    line-height: 1.8;
}

section {
    border-top: 1px solid #e5e5e5;
    margin-top: 16px;
}
div.header + section {
    border-top: none;
    margin-top: 0;
}

pre {
    border: none;
    background: none;
}

code {
    color: #333;
    background: none;
    padding: 0;
}

p + p,
p + a#more,
a#more + p {
    margin-top: 10px;
}

.page-content {
    margin: 0;
}

.page-content img {
    float: right;
    max-width: 50%;
    height: auto;
    margin: 0px 16px 10px 16px;
    padding: 0;
}
.cover-photo {
    max-height: 350px;
}
.about-photo {
    max-height: 250px;
}
.article img {
    max-height: 250px;
}

.clear-images {
    clear: both;
}

#stay-in-touch {
    margin-top: 16px;
}

.footer {
    color: #999;
    background-color: #f9f9f9;
    margin-top: 16px;
    border-top: 1px solid #e5e5e5;
    padding-top: 16px;
}

.promotion {
    position: sticky;
    bottom: 0;
    padding: 16px;
    background: white;
    border-top: 1px solid #e5e5e5;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
